body {
	overflow: hidden;
	background-color: #cccccc;
}
iframe {
	border: none;
}
.mx-vidbox {
	position: absolute;
	top: 15px;
	left: 15px;
	box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
	line-height: 0px;
}
